/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

html, body, #root {
  height: 100%;
}

.nav-link {
  color: black;
}

#graph-statistics-btn {
  position: absolute;
  bottom: 14px;
  right: 14px;
}

#graph-options-btn {
  position: absolute;
  bottom: 50px;
  right: 14px;
}
